<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="content-area">
        <div class="side-panel" id="list">
            <ul>
                <li v-for="(item, index) in items" v-on:click="onItemClick(index)">
                    {{ item.name }}
                </li>
            </ul>
        </div>
        <div class="main-panel" id="markdown">
            <div v-html="rendered"></div>
        </div>
    </div>
    <div class="title-bar draggable">
      <span>GistDrive</span>
      <i class="fas fa-window-minimize"></i>
      <i class="fas fa-power-off"></i>
    </div>
    <script src="script.js"></script>
  </body>
</html>
