<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="content-area">
      <div class="side-panel" >
        <gist-list v-on:item-click="onItemClick" :items="gistList" />
      </div>
      <div class="main-panel">
        <gist-preview :source="mdData" id="markdown" />
      </div>
        <!-- <modal-progress /> -->
    </div>
    <div class="title-bar draggable">
      <title-bar title="GistDrive"/>
    </div>
    <script src="script.js"></script>
  </body>
</html>
