<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div class="content-area">
        <gist-list v-on:item-click="onItemClick" :items="gistList"/>
        <div class="main-panel" id="markdown">
            <div v-html="rendered"></div>
        </div>
        <!-- <modal-progress /> -->
    </div>
    <div class="title-bar draggable">
      <i class="fas fa-bars"></i>
      <span>GistDrive</span>
      <i class="fas fa-window-minimize"></i>
      <i class="fas fa-power-off"></i>
    </div>
    <script src="script.js"></script>
  </body>
</html>
