@import 'define.scss';
@import 'csslib/fontawesome5/scss/fontawesome.scss';
@import 'csslib/fontawesome5/scss/fa-solid.scss';
@import 'csslib/monokai-sublime.scss';
@import 'csslib/alertify.min.scss';
@import 'csslib/default.min.scss';
@import 'csslib/emojione.min.scss';
@import './list/list.scss';
@import './titlebar/titlebar.scss';
@import './progress/progress.scss';


html,body {
  margin: 0;
  height: 100%;
  font-family: $mainFont;
  background-color: $background;
}
:focus {
    outline: 0 !important;
}
.draggable {
  -webkit-app-region: drag;
}


.content-area {
    position: absolute;
    top: $titleHeight;
    width: 100%;
    height: calc(100% - #{$titleHeight});
}



.main-panel {
    overflow-y: scroll;
    float:right;
    width: calc(100% - #{$sidePanelWidth});
    height: 100%;

    pre, blockquote{
        width: 95%;
        overflow-x: scroll;
        background: #23241f;
        color: #f8f8f2;
    }
}

.main-panel::-webkit-scrollbar {
    display:none;
}

.alertify-notifier .ajs-message {
    border: none !important;
    text-shadow: none !important;
    border-radius: 0 !important;
}

.alertify .ajs-dialog {
    border-radius: 0 !important;
}