@import '../define.scss';
$titleHeight: 30px;

.title-bar {
    position: fixed;
    width: 100%;
    height: $titleHeight;
    font-size: $titleHeight - 10;
    top: 0;
    left: 0;
    background: rgba($uiColor,1.0);
    opacity: 1.0;
    color: $accentColor;
    text-align: center;
      i {
        -webkit-app-region: no-drag;
        display: inline-block;
        position: absolute;
      }
      .fa-power-off {
        top: 5px;
        right: 10px;
      }
      .fa-power-off:hover:before {
        color: $accentColor;
      }
      .fa-power-off:before {
        color: $background;
      }
      .fa-window-minimize {
        right: 45px;
      }
      .fa-window-minimize:hover:before {
        color: $accentColor;
      }
      .fa-window-minimize:before {
        color: $background;
      }
      .fa-bars {
        top: 5px;
        left: 10px;
      }
      .fa-bars:hover:before {
        color: $accentColor;
      }
      .fa-bars:before {
        color: $background;
      }
  }